.filters .pills-tab .btn.active {
  font-weight: 700;
}

.activity-img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 200px;
}

.organizer-img {
  width: auto;
  height: auto;
  max-height: 150px;
  max-width: 150px;
}

@media (min-width: 992px) {
  .organizer-img {
    max-height: 200px;
    max-width: 200px;
  }
}
