#accordion-activities .accordion-button {
    background: rgba(var(--ff-diamond-rgb), 0.5);
}

#accordion-activities .accordion-button:not(.collapsed) {
    background: rgba(var(--ff-sunlight-rgb), 0.75);
    box-shadow: none;
}

/* p, .accordion-body {
    font-family: "FrutigerLight";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
} */