:root,
[data-bs-theme="light"] {
  --callout-link: 10,88,202;
  --callout-code-color: #ab296a;
}
[data-bs-theme="dark"] {
  --callout-link: 110,168,254;
  --callout-code-color: #e685b5;
}

.callout {
  --bs-link-color-rgb: var(--callout-link);
  --bs-code-color: var(--callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--callout-color, inherit);
  background-color: var(--callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--callout-border, var(--bs-gray-300));
}

.callout h4 {
  margin-bottom:.25rem
}

.callout>:last-child {
  margin-bottom:0
}

.callout+.callout {
  margin-top:-.25rem
}

.callout .highlight {
  background-color:rgba(0,0,0,0.05)
}

.callout-primary {
  --callout-color: var(--bs-primary-text-emphasis);
  --callout-bg: var(--bs-primary-bg-subtle);
  --callout-border: var(--bs-primary-border-subtle);
}

.callout-secondary {
  --callout-color: var(--bs-secondary-text-emphasis);
  --callout-bg: var(--bs-secondary-bg-subtle);
  --callout-border: var(--bs-secondary-border-subtle);
}

.callout-success {
  --callout-color: var(--bs-success-text-emphasis);
  --callout-bg: var(--bs-success-bg-subtle);
  --callout-border: var(--bs-success-border-subtle);
}

.callout-danger {
  --callout-color: var(--bs-danger-text-emphasis);
  --callout-bg: var(--bs-danger-bg-subtle);
  --callout-border: var(--bs-danger-border-subtle);
}

.callout-warning {
  --callout-color: var(--bs-warning-text-emphasis);
  --callout-bg: var(--bs-warning-bg-subtle);
  --callout-border: var(--bs-warning-border-subtle);
}

.callout-info {
  --callout-color: var(--bs-info-text-emphasis);
  --callout-bg: var(--bs-info-bg-subtle);
  --callout-border: var(--bs-info-border-subtle);
}

.callout-light {
  --callout-color: var(--bs-light-text-emphasis);
  --callout-bg: var(--bs-light-bg-subtle);
  --callout-border: var(--bs-light-border-subtle);
}

.callout-dark {
  --callout-color: var(--bs-dark-text-emphasis);
  --callout-bg: var(--bs-dark-bg-subtle);
  --callout-border: var(--bs-dark-border-subtle);
}