@font-face {
    font-family: "Uncial Antiqua";
    src: url('../fonts/UncialAntiqua-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: 300 700;
    font-display: swap;
}

:root {
    --body-font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
    font-kerning: normal;
}

.f-uncial-r {
    font-family: "Uncial Antiqua";
}

.f-gradient-ff {
    background: #36FFFF;
    background: linear-gradient(to right, #2BB0D4, #36FFFF, #2BB0D4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}