.logo-sponsor {
    width: auto;
    height: 60px;
    max-height: 50px;
    max-width: 100%;
}

.logo-vg {
    width: auto;
    height: 50px;
    max-height: 35px;
    max-width: 100%;
}

@media (min-width: 992px) {
    .logo-sponsor {
        max-height: 60px;
    }

    .logo-vg {
        max-height: 50px;
    }
}