#banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('../images/ui/cartel-min.jpg');
  background-size: cover;
  background-position: top center;
  background-color: #8b725c;
}

.banner-logo {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .banner-logo {
    max-height: 300px;
  }
}

.banner-box-item:first-child {
  border-top-left-radius: var(--bs-border-radius-xxl) !important;
  border-top-right-radius: var(--bs-border-radius-xxl) !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.banner-box-item:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: var(--bs-border-radius-xxl) !important;
  border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
}

@media (min-width: 768px) {
  .banner-box-item:first-child {
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
  }

  .banner-box-item:last-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: var(--bs-border-radius-xxl) !important;
    border-bottom-right-radius: var(--bs-border-radius-xxl) !important;
    border-bottom-left-radius: 0 !important;
  }
}

.feature-icon {
  line-height: 1rem;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
}
