.card .card-header {
    /* font-family: 'FrutigerBold'; */
}

.card .card-body .card-title {
    /* font-family: 'FrutigerBold'; */
    /* background: #55D5D7;
    background: linear-gradient(to bottom, #55D5D7 38%, #FFDB52 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.card .card-body .card-text {
    /* font-family: 'FrutigerLight'; */
    /* font-size: 16px; */
}