.d-contents {
    display: contents !important;
}

@media (min-width: 576px) {
    .d-sm-contents {
        display: contents !important;
    }
}

@media (min-width: 768px) {
    .d-md-contents {
        display: contents !important;
    }
}

@media (min-width: 992px) {
    .d-lg-contents {
        display: contents !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-contents {
        display: contents !important;
    }
}

@media (min-width: 1400px) {
    .d-xxl-contents {
        display: contents !important;
    }
}

@media print {
    .d-print-contents {
        display: contents !important;
    }
}