.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    background: #55D5D7;
    background: linear-gradient(to bottom, #55D5D7 38%, #FFDB52 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
    color: #1e2125;
    background-color: #55d5d73a;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #55d5d7;
}

.navbar .dropdown-item.disabled, .navbar .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}